<style>
    
    .main
    {
     text-align: center;
    }
    
    .error {
        
      color:red;
      font-style:italic;
        
     }
    
    h1{
        
     text-align: center;
     background-color: skyblue;
     padding: 30px;
     
    }
    
#fn,#ls,#un,#password,#cps,#nm
    {
      
      
      margin:10px;
      padding:10px 40px;
      background-color:aliceblue;
      border:none;

    }
  
 #cn,#em{
      
      margin:10px;
      padding:10px 40px;
      background-color:aliceblue;
      border:none; 
    }
    
    #dt{
      
      margin:10px;
      padding:10px 60px  ;
      background-color:aliceblue;
      border:none; 
    }
    
    
 #cb{
     margin:20px;
    }
#sub{
    padding:5px 25px;  
    margin-left:60px;
     margin: 10px;
    }
    
    
#form
{
  text-align: center;
  color:black;
 
}   

 input[type=radio]{
     margin:10px;
     
    }
    
#sub:hover{
     background-color:black; 
     
     color:white;
    
    }
   
    
</style>
